services:
  i2b2-idp-demo:
    image: kvb2univpitt/i2b2-idp-demo:v2.4.3.2025.10
    build:
      context: i2b2-idp-demo
      dockerfile: Dockerfile
    environment:
      - SIMPLESAMLPHP_ADMIN_PASSWORD=demouser
      - SIMPLESAMLPHP_SECRET_SALT=saltydemouser
    container_name: i2b2-idp-demo
    networks:
      - i2b2-demo-net
    ports:
      - 8080:8080
      - 8443:8443
  i2b2-data-demo:
    image: kvb2univpitt/i2b2-data-demo-postgresql:v1.8.2.2025.10
    build:
      context: i2b2-data-demo/postgresql
      dockerfile: Dockerfile
    environment:
      - POSTGRES_PASSWORD=demouser
    container_name: i2b2-data-demo
    networks:
      - i2b2-demo-net
    ports:
      - 5432:5432
  i2b2-core-server-demo:
    image: kvb2univpitt/i2b2-core-server-demo-postgresql:v1.8.2.2025.10
    build:
      context: i2b2-core-server-demo/postgresql
      dockerfile: Dockerfile
    container_name: i2b2-core-server-demo
    networks:
      - i2b2-demo-net
    depends_on:
      - i2b2-data-demo
    ports:
      - 9090:9090
  i2b2-webclient-demo:
    image: kvb2univpitt/i2b2-webclient-demo:v1.8.2.2025.10
    build:
      context: i2b2-webclient-demo
      dockerfile: Dockerfile
    container_name: i2b2-webclient-demo
    networks:
      - i2b2-demo-net
    depends_on:
      - i2b2-core-server-demo
    ports:
      - 80:80
      - 443:443

networks:
  i2b2-demo-net:
    name: i2b2-demo-net
    driver: bridge
    external: true
